 {% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Customer Search Portal</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Loopple/loopple-public-assets@main/motion-tailwind/motion-tailwind.css" rel="stylesheet">
        <style>
          /* Loader CSS */
          .loader {
           border: 16px solid #f3f3f3; /* Light grey */
           border-top: 16px solid green; /* Green */
           border-radius: 50%;
           width: 120px;
           height: 120px;
           animation: spin 2s linear infinite;
       }
       
       @keyframes spin {
           0% { transform: rotate(0deg); }
           100% { transform: rotate(360deg); }
       }
       
       /* Overlay CSS */
       #loader-overlay {
           position: fixed;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           background: rgba(0, 0, 0, 0.5);
           display: flex;
           align-items: center;
           justify-content: center;
           z-index: 9999;
           display: none; /* Hidden by default */
       }
       
       /* Add other necessary styles here */
        
       </style>
       <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    </head>
    <body class="bg-white rounded-lg py-5">    
         <!-- component -->
<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-red-500">
  <body class="h-full">
  ```
-->
<header class="bg-green-500 p-4 rounded-full">
  <div class="container mx-auto flex justify-between items-center">
      <div class="text-white text-xl font-bold">
        <i class="fas fa-search"></i>
  Welcome Customer Here You Can Generate Reports Of Purchase
      </div>
      
  </div>
</header>
<div id="loader-overlay">
  <div class="loader"></div>
</div>
 
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-20 w-auto" src="{% static '/img/logo.jpeg' %}" alt="Your Company">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight to-blue-500">Please Enter Your Customer ID To Search Purchase</h2>
    </div>
  
    <div class="col-span-12 mt-8">
        <div id="loader-overlay">
            <div class="loader"></div>
        </div>
        <div class="col-span-12 mt-8">
        
        <section class="py-1">
            <div class="flex-auto px-6 lg:px-12 py-12 pt-0">
                <form action="/CustomerSearch/ " method="get" id="searchForm">
                    {% csrf_token %}
                    <h6 class="text-2xl font-bold mb-5 font-bold uppercase">
                        Search And Generate Report
                    </h6>
                    <div class="flex flex-wrap">
                        <div class="w-full lg:w-6/12 px-4 mb-4">
                            <div class="relative w-full">
                                <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2" htmlfor="Production_Place">
                                    <i class="fas fa-id-badge"></i> Customer ID
                                </label>
                                <input type="text" name="query" id="name" oninput="disableFields('name')" class="border-0 px-4 py-3 placeholder-black text-black bg-white rounded text-base shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder=" Customer ID    " required style="width:1160px">
                            </div>
                        </div>
                        <div class="w-full lg:w-6/12 px-4 mb-4">
                            <div class="relative w-full">
                                <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2" htmlfor="city">
                                    
                                </label>
                                <input type="hidden"  name="query2" id="place" oninput="disableFields('place')" class="border-0 px-4 py-3 placeholder-black text-bold bg-white rounded text-base shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="PRODUCTION PLACE" required>
                            </div>
                        </div>
                        <div class="w-full lg:w-6/12 px-4 mb-4">
                            <div class="relative w-full">
                                <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2" htmlfor="Total_Production_Item">
                                    <i class="fas fa-calendar-alt text-gray-700"></i> From  
                                </label>
                                <input type="date" name="fromdate" id="dateFrom" oninput="disableFields('dateFrom')" class="border-0 px-4 py-3 placeholder-black text-black bg-white rounded text-base shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                            </div>
                        </div>
                        <div class="w-full lg:w-6/12 px-4 mb-4">
                            <div class="relative w-full">
                                <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2" htmlfor="Total_Production_Item">
                                    <i class="fas fa-calendar-alt text-gray-700"></i> To 
                                </label>
                                <input type="date" name="todate" id="dateTo" oninput="disableFields('dateTo')" class="border-0 px-4 py-3 placeholder-black text-black bg-white rounded text-base shadow focus:outline-none focus:ring-indigo-500 focus:border-green-500 w-full ease-linear transition-all duration-150">
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="search-button"  class="w-full bg-green-500 text-white py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium hover:bg-green-600 focus:outline-none focus:ring-indigo-500 focus:border-green-500 focus:ring-offset-2 focus:ring-indigo-500"><i class="fas fa-search h-6 w-6"></i> Search</button>
                </form>
            </div>
        </section>
    </div>
    </div>
    {% if results %}
    <div class="col-span-12 mt-8">
        <div class="col-span-12 mt-5">
          <div class="grid gap-2 grid-cols-1 lg:grid-cols-1">
              <div class="bg-white p-4 shadow-lg rounded-lg">
 
                  <h1 class="font-bold text-base">Results: Customer  Purchase Report With ID:    {% if query %}{{query}}  {% endif %} {% if fromdate and todate  %} And {{fromdate}} To {{todate}}  {% endif %}   </h1>
                  <div class="mt-4">
                      <div class="flex flex-col">
                          <div class="-my-2 overflow-x-auto">
                              <div class="py-2 align-middle inline-block min-w-full">
                                  <div
                                      class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg bg-white">
                                      <table class="min-w-full divide-y divide-gray-200">
                                          <tr>
                                             <th
                                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                      <div class="flex cursor-pointer">
                                                          <span class="mr-2">Customer </span>
                                                      </div>
                                                  </th>

                                                  <th
                                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                      <div class="flex cursor-pointer">
                                                          <span class="mr-2">Seller Point </span>
                                                      </div>
                                                  </th>
                                                  <th
                                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                      <div class="flex cursor-pointer">
                                                          <span class="mr-2">Item/Balles</span>
                                                      </div>
                                                  </th>
                                                  <th
                                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                      <div class="flex cursor-pointer">
                                                          <span class="mr-2">Weight</span>
                                                      </div>
                                                  </th>
                                                  <th
                                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                      <div class="flex cursor-pointer">
                                                          <span class="mr-2">Unit</span>
                                                      </div>
                                                  </th>
                                                  <th
                                                  class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                  <div class="flex cursor-pointer">
                                                      <span class="mr-2">Purchase Price</span>
                                                  </div>
                                              </th>
                                              <th
                                              class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                              <div class="flex cursor-pointer">
                                                  <span class="mr-2">Total Amount</span>
                                              </div>
                                          </th>
                                          <th
                                              class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                              <div class="flex cursor-pointer">
                                                  <span class="mr-2">Discount</span>
                                              </div>
                                          </th>
                                          
                                          <th
                                          class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                          <div class="flex cursor-pointer">
                                              <span class="mr-2">Final Amount</span>
                                          </div>
                                      </th>
                                          <th
                                          class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                          <div class="flex cursor-pointer">
                                              <span class="mr-2">Payment Status</span>
                                          </div>
                                      </th>
                                      <th
                                          class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                          <div class="flex cursor-pointer">
                                              <span class="mr-2">Paid Amount</span>
                                          </div>
                                      </th>
                                      <th
                                          class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                          <div class="flex cursor-pointer">
                                              <span class="mr-2">Pending Amount</span>
                                          </div>
                                      </th>
                                      <th
                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                      <div class="flex cursor-pointer">
                                          <span class="mr-2">Shipping Address</span>
                                      </div> 
                                  </th>
                                  <th
                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                      <div class="flex cursor-pointer">
                                          <span class="mr-2">Shipping City</span>
                                      </div> 
                                  </th>
                                   
                                      <th
                                          class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                          <div class="flex cursor-pointer">
                                              <span class="mr-2">Driver Name</span>
                                          </div> 
                                      </th>
                                  </th>
                                  <th
                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                      <div class="flex cursor-pointer">
                                          <span class="mr-2">Vehicle Number</span>
                                      </div>
                                  </th>
                                  <th
                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                      <div class="flex cursor-pointer">
                                          <span class="mr-2">Date</span>
                                      </div>
                                  </th>
                                  
                                              </tr>
                                          </thead>
                                         <tbody class="bg-white divide-y divide-gray-200">
                                              
                                              {% for myproduct in results %}
                                              
                                              
                                              <tr>
                                                <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <p>{{myproduct.Client_Name}}</p>
                                                      <p class="text-xs text-gray-400">{{myproduct.Shipping_City}}
                                                      </p>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <p>{{myproduct.Sale_Production_Name}}</p>
                                                      
                                                      </p>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <p>{{myproduct.Items_Or_Balles}} </p>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex text-green-500">
                                                           
                                                          <p>{{myproduct.Weight}}</p>
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-blue-500 hover:text-blue-600">
                                                           
                                                          <p>{{myproduct.Weight_Unit}}</p>
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                          <p>{{myproduct.Sale_Price}}</p>
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                          <p>{{myproduct.Total_Amount}}</p>
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                          <p>{{myproduct.Discount}}</p>
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                          <p>{{myproduct.Final_Amount}}</p>
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                               
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                         
                                                           
                                                            {% if  myproduct.Payment_Status %}
                                                            <p  class="text-green-500"><i class="fas fa-check text-green-500"></i></p>
                                                            {% else %}
                                                            <a href="" hx-get="/paymentIn/{{customerid}}/{{myproduct.id}}" hx-push-url="/paymentIn/{{customerid}}/{{myproduct.id}}"hx-target="#change" class="text-accent hover:text-accent">
                                                            <p class="text-blue-500 hover:text-blue-600"><i class="fas fa-times text-red-500"></i></p></a>
                                                            {% endif %}
                                                          
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                  class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                  <div class="flex space-x-4">
                                                      <a href="#" class="text-accent hover:text-accent">
                                                       
                                                      <p>{{myproduct.Paid_Amount}}</p>
                                                      </a>
                                                       
                                                  </div>
                                              </td>
                                              <td
                                              class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                              <div class="flex space-x-4">
                                                  <a href="#" class="text-accent hover:text-accent">
                                                   
                                                  <p>{{myproduct.Remaining}}</p>
                                                  </a>
                                                   
                                              </div>
                                          </td>
                                                 <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent ">
                                                           
                                                           <p  class="text-green-500">{{myproduct.Shiping_Address}}</p>
                                                          
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                              <a href="#" class="text-accent hover:text-accent ">
                                                                {{myproduct.Shipping_City}}
                                                                 
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                          <p>{{myproduct.Driver_Name}}</p>
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                          <p>{{myproduct.Vehicle_Number}}</p>
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                          <p>{{myproduct.date}}</p>
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                   
                                                  
                                              </tr>
                                              {% endfor %}
                                               
                                          </tbody>
                                           
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
      </div>  
      {% if query %}
         <div class="mb-2 mt-4">
            <button type="button" class='flex items-center bg-gradient-to-r from-green-500 to-blue-500 hover:from-green-600 hover:to-blue-600 focus:outline-none text-white text-lg uppercase font-bold shadow-md p-2 rounded-md' style="width: auto; max-width: 200px;">
                <div class="flex items-center gap-2">
                    <div class="flex-shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z" />
                        </svg>
                    </div>
                    <div>
                        <a href="/CustomerSaleReport/?query={{ query }}" class="whitespace-nowrap">Download PDF</a>
                    </div>
                </div>
            </button>
            
            
            </div>
        </div>
    </div>
    <div>
       

        
         
         
        {% elif  fromdate and todate and query %}
        <div class="mb-2 mt-4">
            <button type="button" class='flex items-center bg-gradient-to-r from-green-500 to-blue-500 hover:from-green-600 hover:to-blue-600 focus:outline-none text-white text-lg uppercase font-bold shadow-md p-2 rounded-md' style="width: auto; max-width: 200px;">
                <div class="flex items-center gap-2">
                    <div class="flex-shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z" />
                        </svg>
                    </div>
                    <div>
                        <a href="/CustomerSaleReport/?fromdate={{fromdate }}&todate={{todate}}">Download PDF With Date </a>
                    </div>
                </div>
            </button>
            
            
            </div>
        </div>
    </div>
    <div>
        {% else %}
             
        </div>
        
    </div>
    <div>
        

        {% endif %}
        

    </div>

    </div>
    
    {% else %}
    <p class="text-red-300">Opps! No Record Found With Provided Customer ID</p>
    {% endif %}
 
   
</div>
  <script>
    document.getElementById('searchForm').addEventListener('submit', function() {
        document.getElementById('loader-overlay').style.display = 'flex';
    });
  
    window.addEventListener('load', function() {
        document.getElementById('loader-overlay').style.display = 'none';
    });
  </script>
    </body>
<html>