{% autoescape off %} 
Dear  Admin,
We are thrilled to inform you that you have a new daily production detail from {{SiteName}} Site

Here are the details of daily production:

Production Name:{{Production_Name}}
Items/Balles:{{item_or_Balles}}
Production Team:{{Production_Team}}
Production Place:{{Production_Place}}
Total Expense: {{Expense}} 
Expense Remarks:{{Expense_Remark}}
Production Status:{{Production_Status}}

For further information please logon to admin dashboard. 

 
{% endautoescape %}