{% load static %}
<head>
  <title>Add Client</title>

  
</head>
<div class="col-span-12 mt-8">
  <div id="loader-overlay">
      <div class="loader"></div>
  </div>
<div class="col-span-12 mt-8">
 
<!-- component -->
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

<!-- expense_form.html -->

<div class="col-span-12 mt-8">
    <section class="py-1">
        <header class="bg-green-500 p-4 rounded-full">
            <div class="container mx-auto flex justify-between items-center">
                <div class="text-white text-xl font-bold">
                    <i class="fas fa-receipt mr-2"></i> Add New Expense
                </div>
            </div>
        </header>
        <div class="w-full lg:w-9/10 px-4 mx-auto mt-6">
            <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg border-0">
                <div class="rounded-t bg-white mb-0 px-4 py-6">
                </div>
                <div class="flex-auto px-4 lg:px-6 py-6 pt-0">
                    <form action="{% url 'add_expense' %}" method="post" id="AddExpenseForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h6 class="text-blueGray-600  text-sm mt-3 mb-6 font-bold uppercase">Expense Details</h6>
                        <div class="w-full lg:w-6/12 px-2">
                            <div class="relative w-full mb-3">
                                <label class="block uppercase text-black text-xs font-bold mb-2" for="category">
                                    <i class="fas fa-file-alt"></i> Production Name<b class="text-red-500">*</b>
                                </label>
                                <select name="name" id="category" class="border-0 px-3 py-3 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150 text-xs text-black font-bold mb-2">
                                     {% for pro  in productions %} 
                                    <option value="{{pro.Manufacturing_Product_Name}}">{{pro.Manufacturing_Product_Name}}</option>
                                     {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-6/12 px-2">
                                <div class="relative w-full mb-3">
                                    <label class="block uppercase text-black text-xs font-bold mb-2" for="description">
                                        <i class="fas fa-file-alt"></i> Description<b class="text-red-500">*</b>
                                    </label>
                                    <input type="text" name="description" id="description" class="border-0 px-3 py-3 placeholder-black text-black bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" required placeholder="Expense Description">
                                </div>
                            </div>
                            <div class="w-full lg:w-6/12 px-2">
                                <div class="relative w-full mb-3">
                                    <label class="block uppercase text-black text-xs font-bold mb-2" for="category">
                                        <i class="fas fa-tags"></i> Category<b class="text-red-500">*</b>
                                    </label>
                                    <select name="category" id="category" class="border-0 px-3 py-3 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150 text-xs text-black font-bold mb-2">
                                        <option value="Harvesting">Harvesting</option>
                                        <option value="Pressing">Pressing</option>
                                        <option value="Dumping">Dumping</option>
                                        <option value="Polythene">Polythene</option>
                                        <option value="Mud Cost">Mud Cost</option>
                                        <option value="Weight Losses">Weight Losses</option>
                                        <option value="Packing Material">Packing Material</option>
                                        <option value="Machine Depreciation">Machine Depreciation</option>
                                        <option value="Loading">Loading</option>
                                        <option value="Labour">Labour</option>
                                        <option value="Office Supplies">Office Supplies</option>
                                        <option value="Utilities">Utilities</option>
                                        <option value="Marketing">Marketing</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="w-full lg:w-6/12 px-2">
                                <div class="relative w-full mb-3">
                                    <label class="block uppercase text-black text-xs font-bold mb-2" for="amount">
                                        <i class="fas fa-dollar-sign"></i> Amount<b class="text-red-500">*</b>
                                    </label>
                                    <input type="number" name="amount" id="amount" class="border-0 px-3 py-3 placeholder-black text-black bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" required placeholder="Expense Amount">
                                </div>
                            </div>
                            <div class="w-full lg:w-6/12 px-2">
                                <div class="relative w-full mb-3">
                                    <label class="block uppercase text-black text-xs font-bold mb-2" for="amount">
                                        <i class="fas fa-receipt"></i> Expense Slip<b class="text-red-500">*</b>
                                    </label>
                                    <input type="file" name="expensebill" id="amount" class="border-0 px-3 py-3 placeholder-black text-black bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" required placeholder="Expense Amount">
                                </div>
                            </div>
                            <div class="w-full px-2">
                                <div class="relative w-full mb-3">
                                    <label class="block uppercase text-black text-xs font-bold mb-2" for="notes">
                                        <i class="fas fa-sticky-note"></i> Notes
                                    </label>
                                    <textarea name="notes" id="notes" rows="4" class="border-0 px-3 py-3 placeholder-black text-black bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Additional Notes"></textarea>
                                </div>
                            </div>
                        </div>
                       
                        <br>
                        {% if messages %}
                        <button type="submit" disabled id="submit-button" class="w-full bg-green-500 text-white py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium hover:bg-green-600 focus:outline-none focus:ring-indigo-500 focus:border-green-500 focus:ring-offset-2 focus:ring-indigo-500">
                        <b class="text-red-500">{% for message in messages %}{{message}}{% endfor %}
                        </button>
                        {% else %}
                        <button type="submit" id="submit-button" class="w-full bg-green-500 text-white py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium hover:bg-green-600 focus:outline-none focus:ring-indigo-500 focus:border-green-500 focus:ring-offset-2 focus:ring-indigo-500">
                            <i class="fas fa-plus"></i> Add Expense
                        </button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
  document.getElementById('allowCredit').addEventListener('change', function() {
    document.getElementById('creditLimitDiv').style.display = this.checked ? 'block' : 'none';
  });
</script>

  
</div>

<script>
 document.addEventListener('DOMContentLoaded', (event) => {
     const allowCreditCheckbox = document.getElementById('allowCredit');
     const creditLimitDiv = document.getElementById('creditLimitDiv');

     allowCreditCheckbox.addEventListener('change', function() {
         if (this.checked) {
             creditLimitDiv.style.display = 'block';
         } else {
             creditLimitDiv.style.display = 'none';
         }
     });
 });
</script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
function data() {

return {

isSideMenuOpen: false,
toggleSideMenu() {
this.isSideMenuOpen = !this.isSideMenuOpen
},
closeSideMenu() {
this.isSideMenuOpen = false
},
isNotificationsMenuOpen: false,
toggleNotificationsMenu() {
this.isNotificationsMenuOpen = !this.isNotificationsMenuOpen
},
closeNotificationsMenu() {
this.isNotificationsMenuOpen = false
},
isProfileMenuOpen: false,
toggleProfileMenu() {
this.isProfileMenuOpen = !this.isProfileMenuOpen
},
closeProfileMenu() {
this.isProfileMenuOpen = false
},
isPagesMenuOpen: false,
togglePagesMenu() {
this.isPagesMenuOpen = !this.isPagesMenuOpen
},

}
}
</script>
 
<script>
  document.getElementById('AddExpenseForm').addEventListener('submit', function() {
      document.getElementById('loader-overlay').style.display = 'flex';
  });

  window.addEventListener('load', function() {
      document.getElementById('loader-overlay').style.display = 'none';
  });
</script>



