 
 
<head>
    <title>{{request.user.username}}|Vendor</title>
     
    </head>
     
    <div class="col-span-12 mt-8">
    <!-- component -->
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    <div class="col-span-12 mt-8">
        <div id="loader-overlay">
            <div class="loader"></div>
        </div>
        <div class="col-span-12 mt-8">
        
        <section class="py-1">
            <div class="flex-auto px-6 lg:px-12 py-12 pt-0">
                <form action="{% url 'ManufactureMaterialPurchase' %}" method="get" id="searchForm">
                    {% csrf_token %}
                    <h6 class="text-2xl font-bold mb-5 font-bold uppercase">
                        Search Production History
                    </h6>
                    <div class="flex flex-wrap">
                        <div class="w-full lg:w-6/12 px-4 mb-4">
                            <div class="relative w-full">
                                <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2" htmlfor="Production_Place">
                                    <i class="fas fa-tag text-gray-700"></i> Production Product Name
                                </label>
                                <input type="text" name="query" id="name" oninput="disableFields('name')" class="border-0 px-4 py-3 placeholder-black text-black bg-white rounded text-base shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="PRODUCTION NAME" required>
                            </div>
                        </div>
                        <div class="w-full lg:w-6/12 px-4 mb-4">
                            <div class="relative w-full">
                                <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2" htmlfor="city">
                                    <i class="fas fa-map-marker-alt text-gray-700"></i> PRODUCTION PLACE 
                                </label>
                                <input type="text" name="query2" id="place" oninput="disableFields('place')" class="border-0 px-4 py-3 placeholder-black text-bold bg-white rounded text-base shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="PRODUCTION PLACE" required>
                            </div>
                        </div>
                        <div class="w-full lg:w-6/12 px-4 mb-4">
                            <div class="relative w-full">
                                <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2" htmlfor="Total_Production_Item">
                                    <i class="fas fa-calendar-alt text-gray-700"></i> From  
                                </label>
                                <input type="date" name="fromdate" id="dateFrom" oninput="disableFields('dateFrom')" class="border-0 px-4 py-3 placeholder-black text-black bg-white rounded text-base shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                            </div>
                        </div>
                        <div class="w-full lg:w-6/12 px-4 mb-4">
                            <div class="relative w-full">
                                <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2" htmlfor="Total_Production_Item">
                                    <i class="fas fa-calendar-alt text-gray-700"></i> To 
                                </label>
                                <input type="date" name="todate" id="dateTo" oninput="disableFields('dateTo')" class="border-0 px-4 py-3 placeholder-black text-black bg-white rounded text-base shadow focus:outline-none focus:ring-indigo-500 focus:border-green-500 w-full ease-linear transition-all duration-150">
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="search-button"  class="w-full bg-green-500 text-white py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium hover:bg-green-600 focus:outline-none focus:ring-indigo-500 focus:border-green-500 focus:ring-offset-2 focus:ring-indigo-500"><i class="fas fa-search h-6 w-6"></i> Search</button>
                </form>
            </div>
        </section>
    </div>
    </div>
    
    {% if results %}
    <div class="col-span-12 mt-8">
        <div class="col-span-12 mt-5">
          <div class="grid gap-2 grid-cols-1 lg:grid-cols-1">
              <div class="bg-white p-4 shadow-lg rounded-lg">
                  <h1 class="font-bold text-base">My Stock</h1>
                  <div class="mt-4">
                      <div class="flex flex-col">
                          <div class="-my-2 overflow-x-auto">
                              <div class="py-2 align-middle inline-block min-w-full">
                                  <div
                                      class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg bg-white">
                                      <table class="min-w-full divide-y divide-gray-200">
                                          <thead>
                                              
                                              <tr>
                                                  <th
                                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                      <div class="flex cursor-pointer">
                                                          <span class="mr-2">Manufacture Purchase </span>
                                                      </div>
                                                  </th>
                                                  <th
                                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                      <div class="flex cursor-pointer">
                                                          <span class="mr-2">Available Item/Balles </span>
                                                      </div>
                                                  </th>
                                                  <th
                                                  class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                  <div class="flex cursor-pointer">
                                                      <span class="mr-2">Production Item/Balles</span>
                                                  </div>
                                              </th>
                                                  <th
                                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                      <div class="flex cursor-pointer">
                                                          <span class="mr-2">Supplier Name</span>
                                                      </div>
                                                  </th>
                                                  <th
                                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                      <div class="flex cursor-pointer">
                                                          <span class="mr-2">Place Of Supply</span>
                                                      </div>
                                                  </th>
                                                  <th
                                                  class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                  <div class="flex cursor-pointer">
                                                      <span class="mr-2">Available Weight</span>
                                                  </div>
                                              </th>
                                              <th
                                                  class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                  <div class="flex cursor-pointer">
                                                      <span class="mr-2">Purchase Weight</span>
                                                  </div>
                                              </th>
                                              <th
                                              class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                              <div class="flex cursor-pointer">
                                                  <span class="mr-2">Total Purchase Price</span>
                                              </div>
                                          </th>
                                          <th
                                              class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                              <div class="flex cursor-pointer">
                                                  <span class="mr-2">Total Sale Amount</span>
                                              </div>
                                          </th>
                                          <th
                                          class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                          <div class="flex cursor-pointer">
                                              <span class="mr-2">Expenses</span>
                                          </div>
                                      </th>
                                          <th
                                          class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                          <div class="flex cursor-pointer">
                                              <span class="mr-2">Profit/Lose</span>
                                          </div>
                                      </th>
                                   
                                      <th
                                          class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                          <div class="flex cursor-pointer">
                                              <span class="mr-2">Complete Production</span>
                                          </div> 
                                      </th>
                                  </th>
                                  <th
                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                      <div class="flex cursor-pointer">
                                          <span class="mr-2">Out Of Stock</span>
                                      </div>
                                  </th>
                                  <th
                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                      <div class="flex cursor-pointer">
                                          <span class="mr-2">Date</span>
                                      </div>
                                  </th>
                                   <th
                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                      <div class="flex cursor-pointer">
                                          <span class="mr-2">Weight Lose</span>
                                      </div>
                                  </th>
                                   <th
                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                      <div class="flex cursor-pointer">
                                          <span class="mr-2">Weight After Weight Lose</span>
                                      </div>
                                  </th>
                                   <th
                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                      <div class="flex cursor-pointer">
                                          <span class="mr-2">Per KG/Munds Price</span>
                                      </div>
                                  </th>
                                  <th
                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                      <div class="flex cursor-pointer">
                                          <span class="mr-2">Paid Amount</span>
                                      </div>
                                  </th>
                                  <th
                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                      <div class="flex cursor-pointer">
                                          <span class="mr-2">Remaining Amount</span>
                                      </div>
                                  </th>
                                  <th
                                      class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                      <div class="flex cursor-pointer">
                                          <span class="mr-2">Payment Status</span>
                                      </div>
                                  </th>
                                              </tr>
                                          </thead>
                                          <tbody class="bg-white divide-y divide-gray-200">
                                              
                                              {% for myproduct in results %}
                                              
                                              
                                              <tr>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <p>{{myproduct.Manufacturing_Product_Name}}</p>
                                                      <p class="text-xs text-gray-400">{{myproduct.City}}
                                                      </p>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <p>{{myproduct.Total_Production_Items}} </p>
                                                  </td> 
                                                  <td
                                                  class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                  <p>{{myproduct.Manufacture_Balles}} </p>
                                              </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex text-green-500">
                                                           
                                                          <p>{{myproduct.Supplier_Name}}</p>
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-blue-500 hover:text-blue-600">
                                                           
                                                          <p>{{myproduct.Place_Of_Supply}}</p>
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                          <p>{{myproduct.Weight}}</p>
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                  class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                  <div class="flex space-x-4">
                                                      <a href="#" class="text-accent hover:text-accent">
                                                       
                                                      <p>{{myproduct.Manufacture_Weight}}</p>
                                                      </a>
                                                       
                                                  </div>
                                              </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                          <p>{{myproduct.Total_Purchase_Price}}</p>
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                          <p>{{myproduct.Total_Sale_Amount}}</p>
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                          <p>{{myproduct.Manufacturing_Expense}}</p>
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                          <p>{{myproduct.Profit_OR_Lose}}</p>
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                 <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent ">
                                                           {% if  myproduct.Complete_Production %}
                                                           <p  class="text-green-500"><i class="fas fa-check text-green-500"></i></p>
                                                           {% else %}
                                                           <p class="text-blue-500 hover:text-blue-600"><i class="fas fa-times text-red-500"></i></p>
                                                           {% endif %}
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                              <a href="#" class="text-accent hover:text-accent ">
                                                                  {% if  myproduct.Out_Of_Stock %}
                                                                 <p  class="text-green-500"><i class="fas fa-check text-green-500"></i></p>
                                                                 {% else %}
                                                                 <p class="text-blue-500 hover:text-blue-600"><i class="fas fa-times text-red-500"></i></p>
                                                                 {% endif %}
                                                                 
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                          <p>{{myproduct.date}}</p>
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                                                                   <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                          <p>{{myproduct.Weight_Lose_Value}}</p>
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                          <p>{{myproduct.Weight_After_Weight_Lose}}</p>
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                          <p>{{myproduct.Per_Kg_Or_Mund_Price}}</p>
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           {% if myproduct.Payment_Status%}
                                                          <p style="color:green;">Paid</p>
                                                        {% else %}
                                                        <p style="color:red;">{{myproduct.Paid_Amount}}</p>
                                                        {% endif %}
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                   <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           {% if myproduct.Payment_Status%}
                                                          <p style="color:green;">Paid</p>
                                                        {% else %}
                                                        <p style="color:red;">{{myproduct.Remaining_Amount}}</p>
                                                        {% endif %}
                                                          </a>
                                                           
                                                      </div>
                                                  </td>
                                                  <td
                                                      class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                      <div class="flex space-x-4">
                                                          <a href="#" class="text-accent hover:text-accent">
                                                           
                                                              <a href="#" class="text-accent hover:text-accent ">
                                                                  {% if  myproduct.Payment_Status %}
                                                                 <p  class="text-green-500"><i class="fas fa-check text-green-500"></i></p>
                                                                 {% else %}
                                                                 <p class="text-blue-500 hover:text-blue-600"><i class="fas fa-times text-red-500"></i></p>
                                                                 {% endif %}
                                                                 
                                                          </a>
                                                           
                                                      </div>
                                                  </td>

                                              </tr>
                                              {% endfor %}
                                               
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
      </div>  
      {% if query %}
         <div class="mb-2 mt-4">
            <button type="button" class='flex items-center bg-gradient-to-r from-green-500 to-blue-500 hover:from-green-600 hover:to-blue-600 focus:outline-none text-white text-lg uppercase font-bold shadow-md p-2 rounded-md' style="width: auto; max-width: 200px;">
                <div class="flex items-center gap-2">
                    <div class="flex-shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z" />
                        </svg>
                    </div>
                    <div>
                        <a href="{% url 'ManufacturePuchasePDF' %}?query={{ query }}" class="whitespace-nowrap">Download PDF</a>
                    </div>
                </div>
            </button>
            
            
            </div>
        </div>
    </div>
    <div>
       

        
        {% elif query2 %} 
        <div class="mb-2 mt-4">
            <button type="button" class='flex items-center bg-gradient-to-r from-green-500 to-blue-500 hover:from-green-600 hover:to-blue-600 focus:outline-none text-white text-lg uppercase font-bold shadow-md p-2 rounded-md' style="width: auto; max-width: 200px;">
                <div class="flex items-center gap-2">
                    <div class="flex-shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z" />
                        </svg>
                    </div>
                    <div>
                        <a href="{% url 'ManufacturePuchasePDF' %}?query2={{ query2 }}" class="whitespace-nowrap">Download PDF</a>
                    </div>
                </div>
            </button>
            
            
            </div>
        </div>
    </div>
    <div>
        
         
        {% elif  fromdate and todate %}
        <div class="mb-2 mt-4">
            <button type="button" class='flex items-center bg-gradient-to-r from-green-500 to-blue-500 hover:from-green-600 hover:to-blue-600 focus:outline-none text-white text-lg uppercase font-bold shadow-md p-2 rounded-md' style="width: auto; max-width: 200px;">
                <div class="flex items-center gap-2">
                    <div class="flex-shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z" />
                        </svg>
                    </div>
                    <div>
                        <a href="{% url 'ManufacturePuchasePDF' %}?fromdate={{fromdate }}&todate={{todate}}">Download PDF </a>
                    </div>
                </div>
            </button>
            
            
            </div>
        </div>
    </div>
    <div>
        {% else %}
        <div class="mb-4 flex space-x-4 items-center mt-6">
            <button type="button" class='flex items-center bg-gradient-to-r from-indigo-500 via-pink-500 to-green-500 hover:from-indigo-600 hover:via-pink-600 hover:to-white focus:outline-none text-white text-lg uppercase font-bold shadow-md rounded-full p-3'>
                <div class="flex items-center gap-2">
                    <div class="flex-shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z" />
                        </svg>
                    </div>
                    <div class="flex-grow"><a href="{% url 'ManufactureMaterrial_export_to_excel' %}">Download Excel Sheet</a></div>
                </div>
            </button>
            
            <button type="button" class='flex items-center bg-gradient-to-r from-green-500 to-blue-500 hover:from-green-600 hover:to-blue-600 focus:outline-none text-white text-lg uppercase font-bold shadow-md p-3 rounded-full'>
                <div class="flex items-center gap-2">
                    <div class="flex-shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z" />
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <a href="{% url 'ManufacturePuchasePDF' %}">Download PDF</a>
                    </div>
                </div>
            </button>
        </div>
            
        </div>
        
    </div>
    <div>
        

        {% endif %}
        

    </div>

    </div>
    
    {% else %}
    <p class="text-red-300">No Record Found</p>
    {% endif %}
    <script>
    function data() {
    
    return {
    
    isSideMenuOpen: false,
    toggleSideMenu() {
    this.isSideMenuOpen = !this.isSideMenuOpen
    },
    closeSideMenu() {
    this.isSideMenuOpen = false
    },
    isNotificationsMenuOpen: false,
    toggleNotificationsMenu() {
    this.isNotificationsMenuOpen = !this.isNotificationsMenuOpen
    },
    closeNotificationsMenu() {
    this.isNotificationsMenuOpen = false
    },
    isProfileMenuOpen: false,
    toggleProfileMenu() {
    this.isProfileMenuOpen = !this.isProfileMenuOpen
    },
    closeProfileMenu() {
    this.isProfileMenuOpen = false
    },
    isPagesMenuOpen: false,
    togglePagesMenu() {
    this.isPagesMenuOpen = !this.isPagesMenuOpen
    },
    
    }
    }
    </script>
    
    <script>
        function disableFields(currentField) {
            const fields = ['name', 'place'];
            const dateFields = ['dateFrom', 'dateTo'];
            
            if (dateFields.includes(currentField)) {
                fields.forEach(field => document.getElementById(field).disabled = true);
                dateFields.forEach(field => document.getElementById(field).disabled = false);
            } else {
                fields.concat(dateFields).forEach(field => {
                    document.getElementById(field).disabled = field !== currentField;
                });
            }
        }
    </script>
     
    <script>
        document.getElementById('searchForm').addEventListener('submit', function() {
            document.getElementById('loader-overlay').style.display = 'flex';
        });
    
        window.addEventListener('load', function() {
            document.getElementById('loader-overlay').style.display = 'none';
        });
    </script>
    
     